
@{
    ViewBag.Title = "AddCustomer";
}

<h2>AddCustomer</h2>

<form action ="VeiwCustomer">

<p>
    Customer ID: <input type="text" name=" customerID" />
</p>
<p>
    First Name: <input type="text" name=" firstName" />
</p>
<p>
    Last Name: <input type="text" name=" lastName" />
</p>
<p>
    Street Address: <input type="text" name=" streetAddress" />
</p>
<p>
   City: <input type="text" name=" city" />
</p>
<p>
    Zip Code: <input type="text" name=" zipCode" />
</p>
<p>
    Area Code: <input type="text" name=" areaCode" />
</p>
<p>
    Phone Number: <input type="text" name=" phoneNumber" />
</p>
    <input type="submit" value="Add Customer"/>
</form>