
@{
    ViewBag.Title = "AddEmployee";
}

<h2>AddEmployee</h2>

<form action="VeiwEmployee">

    <p>
        Employee ID: <input type="text" name=" employeeID" />
    </p>
    <p>
        First Name: <input type="text" name=" empfirstName" />
    </p>
    <p>
        Last Name: <input type="text" name=" emplastName" />
    </p>
    <p>
        Street Address: <input type="text" name=" empstreetAddress" />
    </p>
    <p>
        City: <input type="text" name=" empcity" />
    </p>
    <p>
        Zip Code: <input type="text" name=" empzipCode" />
    </p>
    <p>
        Area Code: <input type="text" name=" empareaCode" />
    </p>
    <p>
        Phone Number: <input type="text" name=" empphoneNumber" />
    </p>
    <input type="submit" value="Add Employee" />
</form>
